@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
* {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $black_100;
}

.stay {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

header {
  @include navbar;
  @include logo;
}

.banner {
  margin-bottom: 160px;
  &_title {
    color: #fff;
    font-size: $text_heading01;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 40px;
    @include lg {
      font-size: $text_display02;
    }
  }
  &_btn {
    display: block;
    color: #fff;
    font-size: $text_heading06;
    font-weight: 900;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 100px;
    background-color: $black_100;
    transition: ease-in-out 0.2s;
    &:hover {
      background-color: #fff;
      color: $black_100;
    }
  }
  .arrows {
    @include arrows;
    justify-content: flex-end;
  }
}

.service {
  margin-bottom: 120px;
  @include md {
    margin-bottom: 160px;
  }
  &_content {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    @include md {
      flex-direction: row;
    }
  }
  &_title {
    font-weight: 900;
    line-height: 1.2;
    font-size: $text_heading06;
    @include col-1;
    margin-bottom: 24px;
    @include md {
      font-size: $text_heading03;
      @include col-4;
    }
  }
  &_text {
    font-size: $text_heading03;
    line-height: 1.2;
    font-weight: 900;
    @include col-1;
    @include md {
      font-size: $text_heading01;
      @include col-8;
    }
  }

  &_feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    .material-icons {
      font-size: $text_display03;
      margin-bottom: 20px;
    }

    .service_card_wrapper {
      @include col-1;
      margin-bottom: 12px;
      @include md {
        @include col-4;
        margin-bottom: 0;
      }
    }

    .service_card_wrapper:last-child {
      margin-bottom: 0;
    }

    .service_card {
      height: auto;
      padding: 40px 20px;
      border-radius: 16px;
      border: 1px solid $black_80;
      @include lg {
        padding: 80px 40px;
        height: 366px;
      }
    }
    .service_card_title {
      font-size: $text_heading03;
      font-weight: 900;
      margin-bottom: 20px;
    }
    .service_card_text {
      font-size: $text_base;
      line-height: 1.5;
      color: $black_20;
    }
  }
}

.feedback {
  margin-bottom: 120px;
  @include md {
    margin-bottom: 160px;
  }
  &_title {
    font-size: $text_heading06;
    font-weight: 900;
    color: #fff;
    margin-bottom: 24px;
    @include md {
      font-size: $text_heading03;
      margin-bottom: 80px;
    }
  }
  &_logo_wrapper {
    position: relative;
  }
  &_logo_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    overflow-x: scroll;
    @include md {
      margin-bottom: 20px;
    }
  }
  &_logo_item {
    min-width: 160px;
  }
  &_logo_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    overflow-x: scroll;

    .feedback_logo:nth-child(9),
    .feedback_logo:nth-child(15) {
      opacity: 0.15;
    }
    @include md {
      margin-bottom: 160px;
    }
  }

  &_shadow_left {
    position: absolute;
    width: 40px;
    height: 50%;
    background: $logo_shadow;
    @include md {
      width: 196px;
    }
  }

  &_shadow_right {
    position: absolute;
    right: -1px;
    width: 41px;
    height: 50%;
    background: $logo_shadow;
    transform: rotate(-180deg);
    @include md {
      width: 197px;
    }
  }

  .swiper_container {
    overflow-x: hidden;
    position: relative;
  }

  .swiper-pagination {
    bottom: 0;
  }

  &_card {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: $feedback_card_shadow;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    @include md {
      padding: 40px;
      height: 400px;
      margin-bottom: 0;
    }
  }

  &_rating {
    display: flex;
    gap: 5.33px;
    color: #fff;
    margin-bottom: 20px;
    .material-icons {
      font-size: $text_base;
    }
  }
  &_card_content {
    color: $black_20;
    line-height: 1.5;
    height: auto;
    margin-bottom: 20px;
    @include md {
      height: 215px;
    }
  }
  &_user {
    display: flex;
    gap: 16px;
    .user_name {
      color: #fff;
      font-weight: 700;
      margin-bottom: 4px;
      line-height: 1.5;
    }
    .user_company {
      color: #fff;
      font-size: $text_small;
      line-height: 1.5;
    }
  }
}

.app {
  @include app;
}

.getstarted {
  padding-top: 160px;
  &_title {
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 40px;
    font-size: $text_heading03;
    padding: 0 61.5px;
    @include md {
      font-size: $text_heading01;
      padding: 0;
    }
  }
  &_btn_wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 160px;
    border-bottom: 1px solid #fff;
  }
  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 32px 20px 40px;
    background-color: $black_100;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
    font-size: $text_heading06;
    font-weight: 900;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      background-color: #fff;
      color: $black_100;
    }
    .material-icons {
      font-weight: 400;
    }
  }
}

footer {
  @include footer;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet {
  background-color: #fff;
  width: 8px;
  height: 8px;
}
